DATABASE_URL=mssql+pyodbc://localhost\TRANHIEU/quanlybanhang?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
FRONTEND_URL=http://localhost:5173

# Email SMTP Settings
MAIL_USERNAME=daongochiep645@gmail.com
MAIL_PASSWORD=eprpbcgazydrfprv
MAIL_FROM=daongochiep645@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_TLS=True
